#img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
  url('https://source.unsplash.com/fDostElVhN8/1600x900');
  background-size: cover;
  background-position: center;
  color: white
}

#img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('https://source.unsplash.com/i9FLJwYhVQs/1600x900');
  background-size: cover;
  background-position: center;
  color: white
}

#img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('https://source.unsplash.com/jdYgwxUMcOE/1600x900');
  background-size: cover;
  background-position: center;
  color: white
}

.description {
  overflow: hidden;
}